.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
  color: #2f80ed;
  font-weight: normal;
  transition-duration: 800ms;
  transition-timing-function: linear;
}

.feynman__link:hover{
  opacity: 0.4;
}
