.table__heading_theme_dark {
  width: 200px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 0;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
