
.table_theme_dark {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 70px;
  color: rgb(255, 255, 255);
  list-style-type: none;
}
