.header__title {
  display: flex;
  max-width: 730px;
  font-weight: 700;
  font-size: 102px;
  /*position: relative;*/
  align-items: center;
  /*left: 64px;*/
  z-index: 3;
  margin: 0;
  line-height: 96px;
  margin-left: 64px;
}
