.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  left: 64px;
  top: 30px;
}

.header__title {
  display: flex;
  max-width: 730px;
  font-weight: 700;
  font-size: 102px;
  /*position: relative;*/
  align-items: center;
  /*left: 64px;*/
  z-index: 3;
  margin: 0;
  line-height: 96px;
  margin-left: 64px;
}

.header__subtitle {
  position: absolute;
  max-width: 388px;
  left: 64px;
  bottom: 30px;
  z-index: 3;
  font-size: 18px;
  margin: 0;
  font-weight: normal;
  line-height: 25px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  font-size: 18px;
}

.header__link:hover{
  transition-duration: 800ms;
  transition-timing-function: linear;
  opacity: 0.4;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  background-image: url(../images/header-image.png);
  background-size: cover;
  z-index: 2;
  right: 0;
  bottom: 0;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  right: 0;
  top: 64px;
  position: absolute;
  animation: ;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-height: 150px;
  margin-top: 100px;
  margin-bottom: 0;
}

.two-columns__brief {
  display: flex;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
  line-height: 1.2;
  margin: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: bold;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 30px;
  margin-top: 0;
}

.two-columns__paragraph:last-child {
  margin-top: 0;
  margin-bottom: 0;
}

.two-columns__paragraph:nth-child(2) {
  margin-top: 0;
  margin-bottom: 30px;
}

.section-title {
  font-size: 60px;
  display: flex;
  justify-content: center;
  line-height: 1.15;
  width: 60%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 0;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  width: 60%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 100px;
  list-style-type: none;
  padding: 0;
}

.table__cell {
  width: 250px;
  margin-top: 0;
}

.table__heading {
  width: 250px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 0;
  text-decoration: none;
}

.table__text {
  width: 250px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 20px;
}

.feynman {
  min-height: 890px;
  background-image: url(../images/feynman.png);
  background-size: 867px 636px;
  background-color: #f2f2f2;
  background-position: bottom left;
  background-repeat: no-repeat;
  margin-top: 0;
  overflow: hidden;
  position: relative;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 70px;
  display: flex;
  max-width: 648px;
  text-align: center;
}

.feynman__subtitle {
  display: flex;
  text-align: center;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  justify-content: center;
  margin: 0;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
  color: #2f80ed;
  font-weight: normal;
}

.feynman__link:hover{
  transition-duration: 800ms;
  transition-timing-function: linear;
  opacity: 0.4;
}

.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  width: 877px;
  height: 877px;
  z-index: -1;
  margin-bottom: 0;
  top: 0;
}

.section-title_theme_dark {
  display: flex;
  justify-content: center;
  line-height: 1.15;
  width: 60%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 60px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  padding-top: 90px;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  width: 60%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: normal;
  color: rgb(255, 255, 255);
}

.table_theme_dark {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(255, 255, 255);
  list-style-type: none;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 0;
}

.table__heading_theme_dark {
  width: 200px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 0;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.table__text_theme_dark {
  font-weight: normal;
  width: 200px;
  font-size: 18px;
  margin-bottom: 90px;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}

.footer__column_content_copyright {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  flex-basis: 711px;
  flex-direction: column;
}

.footer__author {
  display: flex;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  display: flex;
  margin: 0;
}

.footer__column_content_info {
  display: flex;
  margin-top: 0;
  color: white;
  text-decoration: none;
}

.footer__column_content_social {
  display: flex;
  color: white;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  margin-top: 0;
  justify-content: space-between;
  display: flex;
  justify-content: flex-start;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.footer__column-heading {
  font-size: 18px;
  color: white;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
  vertical-align: top;
  justify-content: flex-start;
}

.footer__column-links {
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
  justify-content: flex-start;
  margin-bottom: 16px;
}
.footer__column-links:hover{
transition-duration: 800ms;
transition-timing-function: linear;
opacity: 0.4;
}
.footer__column-link {
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
  margin-block-end: 0;
  margin-bottom: 16px;
}
.footer__column-link:hover{
  transition-duration: 800ms;
  transition-timing-function: linear;
  opacity: 0.4;
}


.footer__column {
  color: white;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  padding-left: 0;
  margin-left: 0;
  align-items: center;
}
@keyframes rotation{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rotation{
  animation-name: rotation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.techniques{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.cards{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  flex-wrap: wrap;
  width: 920px;
  margin-top: 0;
  padding: 0;
}

.cards_title{
  display: flex;
  max-width: 240px;
  justify-content: center;
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}
.cards_description{
  display: flex;
  max-width: 240px;
  justify-content: center;
  text-align: center;
  margin-bottom: 0%;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
}
.cards_image{
  height: 160px;
  width: 160px;
  border-radius: 80px;
  display: flex;
  vertical-align: middle;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 43px;
}
.cards_item{
  margin-left: 0;
  margin-right: 100px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}
.cards_item:nth-child(3){
  margin-right:0;
}

.video_iframe{
  width: 515px;
  height: 316px;
  justify-content: center;
  margin-right: 20px;
}
.video_iframes{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  justify-content: center;
  display: flex;
  margin-bottom: -50px;
}
.video_iframe :nth-child(2){
  margin-right: 0;
}
.oakley{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f2f2;
  padding-top: 60px;
}

.khan_author{
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  margin: 0;
}

.khan_title{
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 50px;
  margin-top: 0;
}

.khan_quote-author{
line-height: 1.15;
font-size: 24px;
font-weight: 600;
margin-top: 0;
margin-bottom: 10px;
}

.khan_quote-author-subtitle{
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}
.khan_buy-link{
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  text-decoration: none;
  color: #2f80ed;
  margin-top: 68px;
  margin-left: 48px;
}

.khan_buy-link:hover{
  transition-duration: 800ms;
  transition-timing-function: linear;
  opacity: 0.4;
}

.khan_quote{
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 36px;
  margin-top: 0;
}
.khan_book-pic{
  width: 620px;
  height: 608px;
  background-image: url(/images/khan-book.jpg);
  background-size: cover;
  margin-top: 68px;
}
.khan{
  padding-top: 105px;
  background-color: #f2f2f2;
}
.khan_book-container{
  display: flex
}

.khan_container{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.resources_logo-zone{
  justify-content: space-between;
  width: 1100px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  margin-bottom: 217px;
  list-style-type: none;
  padding: 0;
}

.resources_link{
  height: 38px;
  display: flex;
  align-content: center;
  padding: auto;
}
.resources_logo{
  width: 270px;
}

.resources_logo:hover{
  transition-duration: 800ms;
  transition-timing-function: linear;
  opacity: 0.4;
}
