
.khan__buy-link{
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  text-decoration: none;
  color: #2f80ed;
  margin-top: 68px;
  margin-left: 48px;
  transition: 800ms linear;
}

.khan__buy-link:hover{
  opacity: 0.4;
}
